@model IEnumerable<Case518.Demo.House.Models.City>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<div class="well">
    <ul class="nav nav-pills single-select" id="city-selector">
        <li class="active"><a href="#">不限</a></li>
        @foreach (var city in Model)
        {
            <li>
                <a href="#" data-id="@city.Id">@city.Name</a>
                <ul>
                    <li class="active"><a href="#">不限</a></li>
                    @foreach (var region in city.Regions)
                    {
                        <li>
                            <a href="#" data-id="@region.Id">@region.Name</a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>

<div class="well" style="display: none;">
    <ul class="nav nav-pills single-select" id="region-selector"></ul>
</div>

<div class="well">
    <ul class="nav nav-pills single-select" id="ground-selector">
        <li class="active">
            <a href="#">不限</a>
        </li>
        <li>
            <a href="#" data="5,10">5~10坪</a>
        </li>
        <li>
            <a href="#" data="10,20">10~20坪</a>
        </li>
        <li>
            <a href="#" data="20,30">20~30坪</a>
        </li>

    </ul>
</div>

<div class="well">
    <ul class="nav nav-pills single-select" id="price-selector">
        <li class="active">
            <a href="#">不限</a>
        </li>
        <li>
            <a href="#" data="0,500">500萬以下</a>
        </li>
        <li>
            <a href="#" data="500,1500">500~1500萬</a>
        </li>
        <li>
            <a href="#" data="1500,2000">1500~2000萬</a>
        </li>
        <li>
            <a href="#" data="2000,-1">2000萬以上</a>
        </li>
    </ul>
</div>

<div class="well">
    <ul class="nav nav-pills multi-select" id="parking-selector">
        <li>
            <a href="#" data="0">平面車位</a>
        </li>
        <li>
            <a href="#" data="1">機械式車位</a>
        </li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">查詢結果 - 共<span id="total-count"></span>筆</div>
    <div class="panel-body">
        <div id="map" style="width: 100%; height: 400px;"></div>
    </div>
</div>

<div style="display: none;">
    <div id="infobox-wrapper" class="container-fluid" style="width: 360px;">
        <div class="row" style="background-color: white;">
            <img class="col-md-5" id="infobox-photo" />
            <div class="col-md-5" style="padding: 5px;" id="infobox-data">
                <div class="content">
                    所在地:
                    坪數:
                    總價:
                    車位:
                </div>
                <div id="infobox-pager-changer" style="border-top: 1px solid black;">
                    <div class="row">
                        <div class="col-md-5 icon-prev">Prev</div>
                        <div class="col-md-5 icon-next">Next</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 15px; background-position: center bottom; background-size: 15px 15px; background-repeat: no-repeat; background-image:url('@Url.Content("~/Assets/arrow.png")');" class="row">

        </div>
    </div>
</div>

<script type="text/javascript">
    var map, geocoder, infobox;
    var markers = [];
    var defaultLat = @ViewBag.DefaultLat;
    var defaultLng = @ViewBag.DefaultLng;

    //座標集合
    var dataCollectionOfLatLng = {};
    var currentDataCollection;
    var currentCollectionIndex;

    //查詢用變數
    var price = [], ground = [], parking = [], cityId = null, regionId = null;

    $(function () {
        //初始化地圖
        map = new google.maps.Map(document.getElementById('map'),
            {
                zoom: 17,
                maxZoom: 17,
                minZoom: 14,
                scaleControl: true,
                center: new google.maps.LatLng(defaultLat, defaultLng)
            });
        //地圖事件
        google.maps.event.addListener(map, "click", function (e) {
            infobox.close();
            infobox = null;

            console.log("map clicked");
            console.log(e);
        });
        //地理編碼器初始化
        geocoder = new google.maps.Geocoder();
        //隱藏備用選單
        $('#city-selector > li > ul').hide();
        //縣市選單初始化
        $('#city-selector > li > a').click(function () {
            var id = $(this).attr("data-id");
            var cityName = $(this).text();
            var region_selector = $(this).next();

            setMapCenterByAddress(cityName);

            if (id) {
                cityId = id;
                regionId = null;
                $('#region-selector').parent().show();
            }
            else {
                cityId = null;
                regionId = null;
                $('#region-selector').parent().hide();
            }

            if (region_selector) {
                $('#region-selector').html(region_selector.html());
                //行政區選單初始化
                $('#region-selector > li > a').click(function () {
                    var id = $(this).attr("data-id");
                    var regionName = $(this).text();

                    setMapCenterByAddress(cityName+regionName);

                    if (id) {
                        regionId = id;
                    } else {
                        regionId = null;
                    }
                });

                single($('#region-selector > li > a'));
            }
            return;
        });

        //設定坪數選單
        $('#ground-selector > li > a').click(function() {
            var data = $(this).attr('data');

            if (data) {
                ground = data.split(',');
            } else {
                ground = [];
            }

            return;
        });

        //設定總價選單
        $('#price-selector > li > a').click(function () {
            var data = $(this).attr('data');

            if (data) {
                price = data.split(',');
            } else {
                price = [];
            }

            return;
        });

        //設定車位選單
        $('#parking-selector > li > a').click(function () {
            var li = $(this).parent();
            if (li.hasClass('active')) {
                var idx = parking.indexOf($(this).attr('data'));
                if (idx >= 0) {
                    parking.splice(idx, 1);
                }
            } else {
                parking.push($(this).attr('data'));
            }
        });

        //選單切換(單選)
        single($(".single-select > li > a"));

        //選單切換(多選)
        multi($('.multi-select > li > a'));

        //使用地址設定地圖中心點
        function setMapCenterByAddress(address) {
            geocoder.geocode({ address: address }, function (result, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(result[0].geometry.location);
                }
            });
        }

        //選單切換(單選)(工廠)
        function single(item) {
            item.click(function () {
                if ($(this).parent().hasClass('active')) {
                    $(this).parent().parent().children('li').first().children('a').click();
                    return;
                }

                $(this).parent().parent().children('li').removeClass('active');
                $(this).parent().addClass('active');

                execQuery(true);
                return;
            });
        }

        //選單切換(多選)(工廠)
        function multi(item) {
            item.click(function () {
                if ($(this).parent().hasClass('active')) {
                    $(this).parent().removeClass('active');
                } else {
                    $(this).parent().addClass('active');
                }

                execQuery(true);
                return;
            });
        }

        //執行查詢
        function execQuery() {
            if(infobox) infobox.close();

            var qdata = {
                cityId: cityId,
                regionId: regionId,
                price: price,
                parking: parking,
                ground: ground,
            };

            $.post("@Url.Content("~/api/query")", qdata, function (result) {
                showMarkersToMap(result);
            }, 'json');
        }

        //清除查詢
        function clearQuery() {
            //清除坪數查詢
            $("#ground-selector > li").removeClass("active");
            $("#ground-selector > li").first().addClass("active");

            //清除總價查詢
            $("#price-selector > li").removeClass("active");
            $("#price-selector > li").first().addClass("active");

            //清除地區查詢
            $("#city-selector > li").removeClass("active");
            $("#region-selector").parent().hide();
            $("#city-selector > li").first().addClass("active");

            //清除車位選擇
            $("#parking-selector > li").removeClass("active");

            //Map置中
            map.setCenter(new google.maps.LatLng(defaultLat, defaultLng));

            //清除查詢條件
            price = [];
            ground = [];
            parking = [];
            cityId = null;
            regionId = null;

            //執行查詢
            execQuery();
        }

        //在地圖中繪製標示
        function showMarkersToMap(data) {
            //清除原有的Marker
            if (markers.length > 0) {
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(null);
                }
                markers = [];
            }

            //清除資料集合
            dataCollectionOfLatLng = {};
            currentDataCollection = null;
            currentCollectionIndex = 0;

            //沒有資料時
            if (data.length == 0) {
                alert("查詢不到資料");
                clearQuery();
                return;
            }

            //顯示筆數
            $("#total-count").text(data.length);

            //放入新的Marker
            for (var k in data) {
                createMarker(data[k]);
            }
        }

        //建立Marker工廠
        function createMarker(item) {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(item.lat, item.lng),
                map: map
            });

            var key = item.lat + ',' + item.lng;

            if(!dataCollectionOfLatLng[key]) dataCollectionOfLatLng[key] = [];
            dataCollectionOfLatLng[key].push(item);

            google.maps.event.addListener(marker, 'click', function (e) {
                var key = e.latLng.lat() + ',' + e.latLng.lng();
                var item = dataCollectionOfLatLng[key][0];

                //紀錄現在使用的集合
                currentDataCollection = dataCollectionOfLatLng[key];
                currentCollectionIndex = 0;

                map.setCenter(e.latLng);

                showInfoBox(marker, item);
            });

            markers.push(marker);
        }

        //建立InfoBox工廠
        function showInfoBox(marker, item) {
            if (infobox) infobox.close();

            //設定要顯示的資料
            var place = $("<div>").html("所在地:" + item.city.name + item.region.name);
            var ground = $("<div>").html("坪數:" + item.ground + "坪");
            var price = $("<div>").html("總價:" + item.price + "萬");
            var parking = $("<div>").html("車位:" + (item.parking == 0 ? "平面車位" : "機械式車位"));

            var infoboxPhoto = $("#infobox-photo");
            infoboxPhoto.attr("src", 'http://' + window.location.hostname + item.photos[0].path);

            var container = $("#infobox-data .content");
            container.html('');
            container.append(place);
            container.append(ground);
            container.append(price);
            container.append(parking);

            var infoContent = $("#infobox-wrapper").clone()[0];
            var chger = $($(infoContent).find('#infobox-pager-changer')[0]);
            var prev = $(chger.find('.icon-prev')[0]);
            var next = $(chger.find('.icon-next')[0]);

            //設定選頁器
            if(currentDataCollection.length == 1) {
                chger.hide();
            } else {
                chger.show();

                if(currentCollectionIndex == 0) prev.hide();
                else prev.show();

                if(currentCollectionIndex == currentDataCollection.length - 1) next.hide();
                else next.show();

                prev.click(function(e) {
                    e.preventDefault();

                    var item = currentDataCollection[--currentCollectionIndex];
                    showInfoBox(marker, item);
                });
                next.click(function(e) {
                    e.preventDefault();

                    var item = currentDataCollection[++currentCollectionIndex];
                    showInfoBox(marker, item);
                });
            }
            
            //初始化訊息框
            infobox = new InfoBox({
                content: infoContent,
                alignBottom: true,
                pixelOffset: new google.maps.Size(-180, -40)
            });

            //顯示
            infobox.open(map, marker);
        }

        execQuery();
    });
</script>